@import "variables.css"; 

@font-face {
    font-family: 'oxygen1';
    font-display: swap;
    src: local('oxygen1'), local('OXYGENE1'), url('../fonts/OXYGENE1.TTF') format('truetype');
    font-weight: normal; font-style: normal;
}

@font-face {
    font-family: 'LadyRadical';
    font-display: swap;
    src: local('LadyRadical'), local('LadyRadical'), url('../fonts/LadyRadical.ttf') format('truetype');
    font-weight: normal; font-style: normal;
}

@font-face {
    font-family: 'saturno';
    font-display: swap;
    src: local('saturno'), local('saturno'), url('../fonts/saturno.ttf') format('truetype');
    font-weight: normal; font-style: normal;
}

@font-face {
    font-family: 'arcade';
    font-display: swap;
    src: local('arcade'), local('arcade'), url('../fonts/ARCADE.TTF') format('truetype');
    font-weight: normal; font-style: normal;
}

body {
    /* https://www.svgbackgrounds.com/ */
    font-family: "arcade","arial","sans-serif";
    background-color: #00bb77;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='120' height='120' viewBox='0 0 120 120'%3E%3Cpolygon fill='%23000' fill-opacity='.1' points='120 0 120 60 90 30 60 0 0 0 0 0 60 60 0 120 60 120 90 90 120 60 120 0'/%3E%3C/svg%3E");
    color: var(--color);
    font-size: 2em;
}

h1 {
    text-align: center;
    font-family: "saturno","arial","sans-serif";
}


#main {
    display: flex;
    flex-direction: row;
  justify-content: center;
  }

canvas, #hud {
    background-color: #ddffaa;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='120' height='120' viewBox='0 0 120 120'%3E%3Cpolygon fill='%23AE9' points='120 120 60 120 90 90 120 60 120 0 120 0 60 60 0 0 0 60 30 90 60 120 120 120 '/%3E%3C/svg%3E");
    border: 4px solid var(--border);
}

#game {
    display: flex;
    flex-direction: column;
    align-items: right;
}

#hud {
    display: flex;
    flex-direction: column;
    align-items: right;
    margin-left: 1em;
}

#hud-level {
    text-align: center;
}

.hud-cell {
    margin: 1em;
}

.size-xxl {
    font-size: 3em;
}

.size-xl {
    font-size: 2em;
}

.size-l {
    font-size: 1.5em;
}

.size-m {
    font-size: 1em;
}

.size-s {
    font-size: 0.5em;
}


