@import "variables.css"; 

@font-face {
    font-family: 'oxygen1';
    font-display: swap;
    src: local('oxygen1'), local('OXYGENE1'), url('../fonts/OXYGENE1.TTF') format('truetype');
    font-weight: normal; font-style: normal;
}

@font-face {
    font-family: 'LadyRadical';
    font-display: swap;
    src: local('LadyRadical'), local('LadyRadical'), url('../fonts/LadyRadical.ttf') format('truetype');
    font-weight: normal; font-style: normal;
}

@font-face {
    font-family: 'saturno';
    font-display: swap;
    src: local('saturno'), local('saturno'), url('../fonts/saturno.ttf') format('truetype');
    font-weight: normal; font-style: normal;
}

@font-face {
    font-family: 'arcade';
    font-display: swap;
    src: local('arcade'), local('arcade'), url('../fonts/ARCADE.TTF') format('truetype');
    font-weight: normal; font-style: normal;
}

body {
    font-family: "arcade","arial","sans-serif";
background-color: #3c62aa;
background-image: url("data:image/svg+xml,%3Csvg width='80' height='80' viewBox='0 0 80 80' xmlns='http://www.w3.org/2000/svg'%3E%3Cg fill='none' fill-rule='evenodd'%3E%3Cg fill='%234ec2d9' fill-opacity='0.55'%3E%3Cpath d='M50 50c0-5.523 4.477-10 10-10s10 4.477 10 10-4.477 10-10 10c0 5.523-4.477 10-10 10s-10-4.477-10-10 4.477-10 10-10zM10 10c0-5.523 4.477-10 10-10s10 4.477 10 10-4.477 10-10 10c0 5.523-4.477 10-10 10S0 25.523 0 20s4.477-10 10-10zm10 8c4.418 0 8-3.582 8-8s-3.582-8-8-8-8 3.582-8 8 3.582 8 8 8zm40 40c4.418 0 8-3.582 8-8s-3.582-8-8-8-8 3.582-8 8 3.582 8 8 8z' /%3E%3C/g%3E%3C/g%3E%3C/svg%3E");
    color: var(--color);
    font-size: 2em;
}

h1 {
    text-align: center;
    font-family: "saturno","arial","sans-serif";
}

canvas {
    background-image: url(https://i.pinimg.com/originals/08/d0/d7/08d0d725af88da07ae74e59b66fc4fe9.jpg)
}

#main {
    display: flex;
    flex-direction: row;
  justify-content: center;
  }

#game {
    display: flex;
    flex-direction: column;
    align-items: right;
}

#hud {
    display: flex;
    flex-direction: column;
    align-items: right;
    border: 1px solid var(--border);
    margin-left: 1em;
}

#hud-level {
    text-align: center;
}

.hud-cell {
    margin: 1em;
}

.size-xxl {
    font-size: 3em;
}

.size-xl {
    font-size: 2em;
}

.size-l {
    font-size: 1.5em;
}

.size-m {
    font-size: 1em;
}

.size-s {
    font-size: 0.5em;
}


