@import "variables.css"; 

@font-face {
    font-family: 'oxygen1';
    font-display: swap;
    src: local('oxygen1'), local('OXYGENE1'), url('../fonts/OXYGENE1.TTF') format('truetype');
    font-weight: normal; font-style: normal;
}

@font-face {
    font-family: 'LadyRadical';
    font-display: swap;
    src: local('LadyRadical'), local('LadyRadical'), url('../fonts/LadyRadical.ttf') format('truetype');
    font-weight: normal; font-style: normal;
}

@font-face {
    font-family: 'saturno';
    font-display: swap;
    src: local('saturno'), local('saturno'), url('../fonts/saturno.ttf') format('truetype');
    font-weight: normal; font-style: normal;
}

@font-face {
    font-family: 'arcade';
    font-display: swap;
    src: local('arcade'), local('arcade'), url('../fonts/ARCADE.TTF') format('truetype');
    font-weight: normal; font-style: normal;
}

body {
    font-family: "arcade","arial","sans-serif";
    background-color: var(--background);
    color: var(--color);
    font-size: 2em;
}

h1 {
    text-align: center;
    font-family: "saturno","arial","sans-serif";
}

canvas {
    background-color: var(--background);
    border: 1px solid var(--border);
}

#main {
    display: flex;
    flex-direction: row;
  justify-content: center;
  }

#game {
    display: flex;
    flex-direction: column;
    align-items: right;
}

#hud {
    display: flex;
    flex-direction: column;
    align-items: right;
    border: 1px solid var(--border);
    margin-left: 1em;
}

#hud-level {
    text-align: center;
}

.hud-cell {
    margin: 1em;
}

.size-xxl {
    font-size: 3em;
}

.size-xl {
    font-size: 2em;
}

.size-l {
    font-size: 1.5em;
}

.size-m {
    font-size: 1em;
}

.size-s {
    font-size: 0.5em;
}


